
<ion-view view-title="About" has-header="false">
<ion-content class="top-header" scroll="false">

<div id="map_canvas" style="width:100%;height: 100vh">

        <select id="mapType" class="maptype" name="mapType">
          <option value="ROADMAP">ROADMAP</option>
          <option value="SATELLITE">SATELLITE</option>
          <option value="HYBRID">HYBRID</option>
          <option value="TERRAIN">TERRAIN</option>
        </select>
      </div>

</ion-content>
</ion-view>